
sanguosha.qm
config.ini
Qt*4.dll
QSanguosha.exe
QSanguosha
QSanguosha.pro.user
swig/sanguosha_wrap.cxx
QSanguosha.pro
*.sdf
*.suo
*.opensdf
/extensions/
[Dd]ebug/
[Rr]elease/
/tools/
Win32/
GeneratedFiles/
lib/jsoncpp.lib
lib/breakpad.lib
lib/lua.lib
QSanguosha.vcxproj.user
/builds/vs2013/
/Bin/
card_intention.txt
